Repository boostcampwm-2021/iOS09-BBus, pull requests merged in 2021-12, with the labels that each got.

#330 [테스트] RequestFactoryTests 작성
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/RequestFactoryTests/RequestFactoryTests.swift
Labels: 🛡 test, 👍 review

#334 [테스트] BusRouteViewModelTests 작성
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/BBus/Global/DTO/BusPosByRtidDTO.swift
  BBus/BBus/Global/DTO/StationByRouteListDTO.swift
  BBus/BusRouteViewModelTests/BusRouteViewModelTests.swift
Labels: 🛡 test, 👍 review

#336 [테스트] PersistenceStorage 작성 완료
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/PersistenceStorageTests/PersistenceStorageTests.swift
Labels: 🛡 test, 👍 review

#337 [테스트] TokenManager 테스트
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/TokenManagerTests/TokenManagerTests.swift
Labels: 🛡 test

#338 [테스트] StationViewModel 테스트
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/BBus/Foreground/Station/ViewModel/StationViewModel.swift
  BBus/BBus/Global/Network/Fetcher/ServiceFetchable.swift
  BBus/StationViewModelTests/DummyJsonStringStationByUidItemDTO.json
  BBus/StationViewModelTests/StationViewModelTests.swift
Labels: 🛡 test, 👍 review

#339 [테스트] SearchViewModel 테스트
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/BBus/Foreground/Search/ViewModel/SearchViewModel.swift
  BBus/SearchViewModelTests/SearchViewModelTests.swift
Labels: 🛡 test

#340 [테스트] AlarmSettingViewModel 테스트
  BBus/AlarmSettingViewModelTests/AlarmSettingViewModelTests.swift
  BBus/AlarmSettingViewModelTests/MOCKArrInfo.json
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/BBus/Foreground/AlarmSetting/ViewModel/AlarmSettingViewModel.swift
Labels: 🛡 test

#341 [테스트] NetworkService 테스트
  BBus/BBus.xcodeproj/project.pbxproj
  BBus/BBus/Global/Network/Fetcher/ServiceFetchable.swift
  BBus/BBus/Global/Network/NetworkService.swift
  BBus/NetworkServiceTests/NetworkServiceTests.swift
Labels: 🛡 test, 👍 review

#342 [버그] 승차 알람 섹션 헤더가 보이지 않는 문제 해결
  BBus/BBus/Foreground/AlarmSetting/View/AlarmSettingView.swift
Labels: 🐛 fix

#346 feat: #345 마을버스, 다른 버스들 대응
  BBus/BBus/Foreground/AlarmSetting/View/GetOnStatusCell.swift
  BBus/BBus/Foreground/BusRoute/View/BusRouteView.swift
  BBus/BBus/Foreground/Home/View/FavoriteCollectionViewCell.swift
  BBus/BBus/Foreground/MovingStatus/View/MovingStatusView.swift
  BBus/BBus/Foreground/Search/View/SearchResultCollectionViewCell.swift
  BBus/BBus/Global/Constant/BBusRouteType.swift
  BBus/BBus/Global/DTO/BusRouteDTO.swift
  BBus/BBus/Global/Resource/BusRouteList.json
Labels: 🧰 feature
